- if @user == current_user
  = link_to '編集', edit_user_registration_path

%ul.list-group.list-group-flush
  %li.list-group-item
    = @user.name
  - if @user.profile
    %li.list-group-item= nl2br @user.profile
  - if @user.website
    %li.list-group-item= link_to @user.website, @user.website, target: :_blank

%hr

%h5 フォロータイムライン
- if @posts.empty?
  フォローしているユーザがいません。フォローしてみよう！
- else
  - @posts.each do |post|
    = render 'posts/post', post: post
